<!DOCTYPE html>
<html>
<head>
  <title>AuthenticationEngine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "authentication_engine/application", media: "all" %>
</head>
<body>
<%= render partial: 'authentication_engine/partial/auth_buttons' %>
<%= render partial: 'authentication_engine/partial/flash' %>
<%= yield %>

</body>
</html>
